{% extends "base.html.twig" %}

    {% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100">

      <div class="card" style="width: 25rem; margin:50px;">
        <img class="card-img-top" src="image//doctors/doctor_1.jpg" height="250px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ricardo sanchez</h5>
          <p class="card-text">Spesjalizuje się w chorobach zakażnych zwierząt</p>
          <a href="#" class="btn btn-primary">Przejdź do tego lekarza</a>
        </div>
     </div>

      <div class="card" style="width: 25rem; margin:50px;">
        <img class="card-img-top" src="image//doctors/doctor_2.jpg" height="250px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Arleta sanchez</h5>
          <p class="card-text">Jej specjalizacją jest odbieranie porodów bydła</p>
          <a href="#" class="btn btn-primary">Przejdź do tego lekarza</a>
        </div>
     </div>

      <div class="card" style="width: 25rem; margin:50px;">
        <img class="card-img-top" src="image//doctors/doctor_3.jpg" height="250px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ricardo sanchez</h5>
          <p class="card-text">Jej specjalizacją jest odbieranie porodów bydła</p>
          <a href="#" class="btn btn-primary">Przejdź do tego lekarza</a>
        </div>
     </div>

       <div class="card" style="width: 25rem; margin:50px;">
        <img class="card-img-top" src="image//doctors/doctor_2.jpg" height="250px" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ricardo sanchez</h5>
          <p class="card-text">Jej specjalizacją jest odbieranie porodów bydła</p>
          <a href="#" class="btn btn-primary">Przejdź do tego lekarza</a>
        </div>
     </div>


    </div>
    {% endblock %}
