<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"href="{{ path('index') }}">System zarządzania hodowlami</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
        <li class="nav-item">
          <a class="nav-link" href="{{ path('farm') }}">Twoja hodowla</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Magazyn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Pasza</a></li>
            <li><a class="dropdown-item" href="#">Leki</a></li>
            <li><a class="dropdown-item" href="#">Paliwo</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="{{ path('doctors') }}">Lekarze</a>
        </li>

         <li class="nav-item">
        <a class="nav-link" href="#">Historie leczenia</a>
        </li>

         <li class="nav-item">
        <a class="nav-link" href="#">Finanse</a>
        </li>
  
      </ul>
     <div class="d-flex flex-row gap-5">  
        <div>  Zaloguj się </div>
        <div> Zarejestruj się </div>
     </div>
    </div>
  </div>
</nav>
    </body>
</html>
