{% extends "base.html.twig" %}

    {% block content %}
       
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Numer kolczyka</th>
      <th scope="col">Płeć</th>
      <th scope="col">Średnia ilość mleka na miesiąc(w litrach)</th>
      <th scope="col">Data urodzenia</th>
      <th scope="col">Ilośc potomstwa</th>
      <th scope="col">Ojciec</th>
      <th scope="col">Matka</th>


    </tr>
  </thead>
  <tbody>
  {% for farm in farms %}
    <tr>
      <td><b>{{farm.earringnumber}}</b></td>
      <td>{{farm.sex}}</td>
      <td>5000</td>
      <td>{{farm.dateofbirth|date("Y-m-d")}}</td>
      <td>5</td>
      <td>325532</td>
      <td>342553</td>
    </tr>
  {% endfor %}
 

  </tbody>
  
</table>
<div class="w-100 d-flex justify-content-center"> <button type="button" class="btn btn-primary w-75">Dodaj nową sztukę</button> </div>
<div class="w-100 d-flex justify-content-center ">{% include 'parts/_pagination.html.twig' %} </div>
    {% endblock %}
